body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

#matrix-container {
    position: relative;
}

canvas {
    border: 1px solid #fff;
    background-color: #111;
}

input, button {
    margin: 5px;
}

label {
    margin-right: 5px;
}

button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
  }
